
body{/*Initial css style across all pages*/
    margin: 0px;
}
/*Navigation bar css across all pages of my website*/
.navbar{/*The div that wraps the entire navigation bar*/
    overflow: hidden; 
    background-color: #ffffff;
}
.navbar a{
    margin-top:8px;/*Controls the positioning of the text inside the navbar*/
    margin-left:8px;
    float: left;
    font-size: clamp(0.8em, 1.25vw, 1.2em);
    color: #627455;
    padding: 14px 16px;/*Controls the spacing of the text inside the navbar*/
    text-decoration: none;/*Removes the underline for each link*/
    font-weight: 600; 
    font-family:"Lexend Deca", sans-serif;
}

.homepage:hover{color:#8bad8b;}/*Hovers over the underlined text*/

.learningdropdown {
    float:left;/*Ensures the navbar is spread across the entire page*/
    overflow: hidden;/*Controls the content so it stays in a designated area rather than overlow*/
}
.learningdropdown a{
    float:left;
    font-weight: normal; /*Resets the font weight to normal text*/
}
.learningdropdown .dropbtn{
    position: relative;/*This position gives the ability to adjust the button's position*/
    font-size: clamp(0.8em, 1.25vw, 1.2em);
    border: none;/*This removes the automatic border around the button*/
    outline: none;
    color: #627455;
    padding: 14px 16px;
    background-color: inherit;
    font-family:"Lexend Deca", sans-serif;
    font-weight: 600;
    overflow:hidden;
    margin-top: 8px;
}

.learningcontent{
    display: none;/*This ensures the dropdown remains hidden until the button is clicked upon*/
    position: absolute;/*Absolute makes the dropdown content stay in the same position*/
    background-color: #ffffff;
    min-width: 160px;/*Min-width controls the sizing of the dropdown content and ensures it won't get smaller than 160px*/
    padding: 10px;
    border-radius: 0 0 25px 25px;/*Gives the learning content dropdown a curved border*/
}
.learningcontent a{
    float: none;
    padding: 12px 16px;
    text-decoration: none;/*Removes the underline for each link in the dropdown*/
    display: block;
    text-align: left; 
}

.learningcontent a:hover{
    background-color: #e6f0dc;
    border-radius: 25px;/*Gives the hover effect a curved border*/
}

.learningdropdown:hover .learningcontent{display: block;}

.dropbtn:hover{color: #8bad8b;}

.logo{/*The logo image in the navbar*/
    width: 50px;
    height: 30px;
    overflow:hidden;
}
/*End of navigation bar css*/
/*Beginning of index.html homepage*/
.introduction{/*The light green banner at the beginning of my homepage*/
    background-color: #e6f0dc;
}

.intro{/*The large introductory header in the light green introduction banner*/
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    color: #627455;
    padding-top: 110px;
    font-size: 3.8em;
    font-weight:750;
}

.introsub{/*The short introductory paragraph text in the light green introduction banner*/
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    font-size: 1.2em;
    color: #627455;
    padding-top:25px;
    padding-bottom:70px;
    padding-left:160px;
    padding-right:160px;
}
.grid-container{/*This is the grid layout that positions the flashcard, slideshow, and quiz introduction*/
    display: grid;/*Automatically creates rows and columns*/
    grid-template-areas:/*The automatic amount of columns is 6, so these areas are defined accoridingly to how much columns one grid area will take*/
    'first first first firstimg firstimg firstimg'/*This states that the learning text will take up the first 3 columns and the learning image will take up the next 3 columns*/
    'secondimg secondimg secondimg second second second' /*This states that the flashcard image will take up the first 3 columns and the flashcard text will take up the next 3 columns*/
    'third third third thirdimg thirdimg thirdimg';/*This states that the quiz text will take up the first 3 columbs and the quiz image will take up the next 3 columns*/
}
.grid-container > div{ padding-bottom: 7em;}

.learning{/*The div that wraps around the learning introduction text*/
    grid-area: first;/*css states its grid area*/
    color: #627455;
    font-family: "Lexend Deca", sans-serif;
    margin-left: 4.5em;
}

.lheading, .qheading{/*The css for the learning and quiz heading*/
    margin-top: 2em;
    margin-bottom:0.5em;
    font-size: 3.2em;
    font-weight:750;
}
.lsheading, .qsheading{/*The css for the learning and quiz subheading*/
    margin-top: 1.5em;
    font-size: 1.2em;
}

.coverlearn{
    grid-area: firstimg;
    margin-top:4.8em;
}/*The div that wraps around the learning image*/

.coverlearn img{
    max-width: 100%;/*Max width allows it to be responsive to different screen sizes, so it shrinks when the screen shrinks*/
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flashcard{/*The div that wraps around the flashcard introduction text*/
    grid-area: second; 
    color: #627455;
    font-family: "Lexend Deca", sans-serif;
    background-color: #e6f0dc;
}
.fheading{/*The css for the flashcard heading*/
    margin-top: 1.5em;
    margin-right: 4em;
    font-size: 3.2em;
    font-weight:750;
}
.fsheading{/*The css for the flashcard subheading*/
    font-size: 1.2em;
    margin-top: 1em;
    margin-right: 4em;
}
.coverflash{/*The div that wraps around the flashcard image*/
    grid-area: secondimg;
    background-color: #e6f0dc;
}
.coverflash img{
    max-width: 100%;
    height: auto;
    margin-top:4.8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.quiz{/*The div that wraps around the quiz introduction text*/
    grid-area: third; 
    color: #627455;
    font-family: "Lexend Deca", sans-serif;
    margin-left: 4.5em;
}
.coverquiz{
    grid-area: thirdimg;
    margin-top:4.8em;
}/*The div that wraps around the quiz iamge*/

.coverquiz img{
    max-width: 100%;
    height: auto;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}
/*This is the initial collapsible for the slideshow and quizzes only*/
.collapsible{
    background-color: #e6f0dc;
    color:#627455;
    cursor:pointer;/*Makes it so that when the user hovers over it the pointer mouse appears (they know to click it)*/
    border:1px #e6f0dc solid;
    border-radius: 0.8em;/*This border-radius gives it its curved shape*/
    outline: none;/*This removes the automatic outline around its button*/
    font-size: 1.1em;
    font-weight:600;
    padding: 1em;
    font-family: "Lexend Deca", sans-serif;
    position: absolute;/*Ensures it won't move with the dropdown*/
    width: 20%;
    margin-top: 2.2em;  
}
/*This is the collapsible for quizzes and slides when hovered over*/
.collapsible:hover{
    background-color:#8bad8b;
}
/*This is the activated collapsible when clicked on for slideshows or quizzes*/
.active{
    border-radius: 0.8em 0.8em 0 0;/*Makes it so that only the top corners will be rounded when the dropdown occurs*/
    background-color: #e6f0dc;
    color:#627455;
    cursor:pointer;
    padding:1em;
    font-size: 1.1em;
    border:1px #e6f0dc solid;
    outline: none;
    font-weight:600;
    font-family: "Lexend Deca", sans-serif;
    width: 20%;
    margin-top: 2.2em;  
}
.content{/*This is the dropdown collapsible when activated for slideshows or quizzes*/
    display: none;/*ensures that the display won't show unless clicked upon*/
    overflow:hidden;
    background-color:#e6f0dc;
    position: absolute;
    border: 1px #e6f0dc solid;
    border-radius: 0 0 0.8em 0.8em;
    width: 20%;
    margin-top:5.8em;
}
.topics:hover{
    background-color: #8bad8b;
}
/*This is the intial collapsible for the flashcard section only, as it has a contrasting colour to the other introductions to provide depth to the user*/
.collapsible2{
    background-color: white;/*Different colour than the #e6f0dc that the other introduction had*/
    color:#627455;
    cursor:pointer;
    border:1px white solid;
    border-radius: 0.8em;
    outline: none;
    font-weight: 600;
    font-size: 1.1em;
    width: 20%;
    padding: 1em;
    margin-top: 2.2em; 
    position: absolute; 
    font-family: "Lexend Deca", sans-serif;
}
.collapsible2:hover{/*This is the colour when the collapsible is hovered over*/
    background-color:#8bad8b;
}
.active2{/*This is the activated collapsible when clicked on for flashcards*/
    border-radius: 0.8em 0.8em 0 0;
    background-color: white;
    color:#627455;
    cursor:pointer;
    padding:1em;
    border:1px #e6f0dc solid;
    outline: none;
    font-family: "Lexend Deca", sans-serif;
    margin-top: 2.2em;
    width: 20%;
}
.content2{/*This is the dropdown collapsible when activated for slideshows or quizzes*/
    display: none;
    overflow:hidden;
    background-color:white;
    position: absolute;
    border: 1px #e6f0dc solid;
    width: 20%;
    margin-top: 5.8em;
    border-radius: 0 0 0.8em 0.8em;
}
.topics,.topics2{/*This is the css for the text inside the content for the slideshow, flashcard and quiz collapsibles*/
    font-family: "Lexend Deca", sans-serif;
    overflow: hidden;
    position: relative;
    text-align: left;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #627455;
}

/*This is the end for the collapsible css for the flashcard, slideshow, and quiz introduction*/
/*This is the end of index.html homepage*/
/*This is the start of learning1.html, learning2.html, and learning3.html*/
.learningintro{/*This div wraps around the dark green banner at the beginning of the learning pages*/
    background-color: #8bad8b;
    padding: 5em;/*Padding gives it the spacing it needs to be a large banner*/
}
.learningintro h1{/*This is the main heading inside the dark green banner*/
    color: white;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: 5em;
}
.headersub{/*This is the small subheader after the dark green banner which is introduces the title of the topic that the learning page is about*/
    font-size: 2.2em;
    text-align: center;
    color: #627455;
    font-weight: 60px;
    padding-top: 1em;
    font-family: "Lexend Deca", sans-serif;
}
.learningsub{/*This is the text for the small subheader that explains what the slideshow will be teaching you. */
    font-size: 1.15em;
    font-family: "Lexend Deca", sans-serif;
    text-align: center; 
    color: #627455;
    margin-top: 1em;
    padding-left: 85px;
    padding-right: 85px;
}

.slideshow-container{/*This is the div that wraps around the entire slideshow in learning1, learning2, and learning3*/
    max-width: 1000px;/*makes the container responsive*/
    position: relative;
    margin: auto;
}
.mySlides{/*Positions the entire slideshow*/
    margin-top:3em;
}
.slideshow-container img{/*Positions the slideshow image correctly on the page*/
    margin-top: -1.5em;
    margin-left: -2em;
}
.prev, .next{/*Div for both of the arrows in regards of responsiveness and font-size*/
    cursor: pointer;
    position: relative;
    max-width: 100%;
    padding: 0.8em;
    color:#627455;
    user-select: none; 
    font-weight:bold;
    font-size: min(2vw, 20px);
}
.prev{/*Css code positions the first arrow for learning1, learning2, and learning3*/
    bottom: 2.9em;/*Bottom position used due to position: relative, em unit used for responsiveness*/
    left:15%;/*Left position used due to position: relative, % used for responsiveness*/
    
}
.next{/*Css code positions the second arrow for learning1, learning2, and learning3*/
    bottom: 2.9em;
    left: 20%;
}
.captiontext{/*The caption number text that controls its positioning and maximum size*/
    color: #627455;
    font-size: min(2vw, 20px);/*Minimum size ensures that the font-size shrinks to fit the webpage but doesn't go smaller than 20px, learned through ww3schools*/
    position: relative;
    max-width: 100%;
    bottom: 1.6em;
    text-align: left;
    margin-left:9.9em;
    font-family: "Lexend Deca", sans-serif;
}
/*This is the end of learning1.html, learning2.html, and learning3.html*/
/*This is the start of flashcard1.html, flashcard2.html, and flashcard3.html*/
.cardgrid-container{/*This div wraps around the entire flashcard content and creates the separate rows and columns using grid-template-areas*/
    margin-top: 2em;
    display: grid;
    grid-template-areas:
    'listterms listterms listterms slideshow-container slideshow-container slideshow-container';/*This states that the list of terms takes up 3 columns and the flashcards take up the next 3 columns*/
    padding: 0.5em;
    gap: 1em;
}
.cardgrid-container > div{
    padding: 10px;
}
.tablewrap{margin-left: 6em;}/*The div that wraps around the entire list of terms, controls its positioning to the left*/

.listterms{grid-area: listterms;}/*states that this div takes up the first 3 sections of the table*/
.listterms h1{/*The css for the heading inside of the list of terms*/
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2em;
    color: #627455;
}/*The css for the subheading inside of the list of terms*/
.listterms h2{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    color: #627455;
    font-weight: normal;
}
table{/*Structures the list of flashcard terms inside of the cardgrid-container like bulletpoints*/
    border-collapse: separate;/*Removes the automatic border around the table, learned from ww3schools*/
    width: 120%;
    border: 1px solid #627455; 
    border-radius: 20px;
    overflow:hidden; 
}
th, td{padding: 0.8em;}/*Gives padding to each individual bulletpoint inside of the table*/
th{/*Gives css to the lettering inside of the table*/
    font-family: "Lexend Deca", sans-serif;
    color: #627455;
    font-size: 1.1em;
    font-weight: normal; 
    text-align: left; 
}
.slideshow-container{grid-area: slideshow-container;}/*This div wraps around the entire flashcard slideshow, also states that it takes up the next 3 columns of the grid*/

.mySlides{display: none;}/*Hides slides by default until clicked upon*/

*{
    box-sizing:border-box;
    margin:0;
}

.flashcard-container{/*the container for the flashcards that positions it at a higher spot*/
    margin-top:-3em;
}
.reminder{
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.1em;
    color: #627455;
    text-align: left;
    font-style: italic;
    margin-left:0.3em;
}
.mySlides img{/*The images for the flashcards that ensure it will move with the grid*/
    position: relative; 
    top: 5px;
    left:15px;
    max-width:100%;
    height:auto;
    display: block; 
    margin: auto;
}
.prev2, .next2{/*The arrows for the flashcards, has a background unlike the first arrows*/
    cursor: pointer;
    position: relative;
    max-width: 100%;/*Ensures the arrows will be responsive, shrink when the screen shrinks*/
    padding:0.8em 1.1em 0.8em;/*The padding around the arrows to give it a larger area*/
    color:white;
    user-select: none;/*Makes sure that arrows won't be highlighted when the user clicks on it */ 
    font-weight:bold;
    font-size: min(2vw, 20px);
    border-radius: 50%;/*Makes the background a circlular shape*/
    background-color: #8bad8b;
}
.next2{/*Positions the second arrow*/
    top: 0.1em;
    left: 48%;
}
.prev2{/*Positions the first arrow*/
    top: 0.1em;
    left:38%;
}
.prev2:hover, .next2:hover{background-color: #627455;}

.captiontext2{/*The number text for the flashcards*/
    color: #627455;
    font-size: min(2vw, 20px);
    position: relative;
    max-width: 100%;
    width: 20%;
    top:1.3em;
    text-align: left;
    left:48%;
    overflow: hidden;
    font-family: "Lexend Deca", sans-serif;
}


.fade{/*THe flashard and the slideshow fade when the user clicks on it*/
    animation-name: fade;
    animation-duration: 1.5s
}
@keyframes fade{
    from{opacity: .4}/*Ensures the flashcard/slideshow image will fadt from a low opacity to a higher opacity*/
    to {opacity: 1}
}
.content-area{
    padding: 10% 0;
}
/*End of flashcard1.html, flashcard2.html, and flashcard3.html*/
/*This is the start of quiz1.html, quiz2.html, and quiz3.html*/
.app1, .app2, .app3, .app4{/*This codes the background for each question in each of my quiz pages*/
    background: white;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 100px auto 0;
    border-radius: 2em;
    padding: 30px;
    display: block;
    padding-bottom: -10em;
}
.quiz{
    padding: 20px 0;
    margin-right: 50px;
}
.quiz p{/*This is the normal text inside the quiz*/
    font-size: 1.1em;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #627455;
}
.answer{/*This is the "Select answer" boldened text*/
    color: #627455;
    padding-top: 10px;
    padding-bottom: 8px;
    font-weight: 500;
}
.quiz h2{/*This is the header "question" text that depicts which question they are on*/
    font-size: 1.5em;
    color: #627455;
}
.wrong, .right, .wrong2, .right2, .wrong3, .right3, .wrong4, .right4{/*This is the css for each button in the quiz*/
    background: #e6f0dc;
    border: 1px solid #e6f0dc;
    border-radius: 5px;
    color: #627455;
    font-weight: 500;
    width: 100%;
    outline: none;
    border: none;
    padding: 15px;
    font-family: "Lexend Deca", sans-serif;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    font-size: 1em;
}
.wrong:hover:not([disabled]),.right:hover:not([disabled]),.wrong2:hover:not([disabled]),.right2:hover:not([disabled]),.wrong3:hover:not([disabled]),.right3:hover:not([disabled]),.wrong4:hover:not([disabled]),.right4:hover:not([disabled]){
    background: #627455;/*This is the hover that operates when the button is not yet disabled once they click on it*/
    color: white;
}

.wrong:disabled, .right:disabled,.wrong2:disabled, .right2:disabled,.wrong3:disabled, .right3:disabled,.wrong4:disabled, .right4:disabled{
    cursor: no-drop;/*This disables the users cursor once they click on the answer so it wont be a pointer*/
}
.restart{/*This is the css for the restart button that reloads the page once the user has finished and wants to try again*/
    background: #627455;
    color: white;
    border: 1px solid #627455;
    border-radius: 5px;
    font-weight: 500;
    font-family: "Lexend Deca", sans-serif;
    cursor: pointer;
    text-align: left;
    font-size: 1em;
    padding: 15px;
    margin-left: 21em;
    margin-top: 2em;
}
.restart:hover{/*This is the hover for the restart button*/
    background: white;
    border: 1px solid white;
    color: #627455;
}
.correct{background: #9aeabc;}/*This is the css that is added from the js once the user clicks on it and reveals that its correct*/
.incorrect{background: #ff9393;}/*This is the css that is added from the js once the user clicks on it and reveals that its wrong*/
/*This is the end of the quiz CSS for quiz1.html, quiz2.html, and quiz3.html*/
/*This is the start of the footer code that spans across all 10 pages*/
.footer{margin-bottom:-2em;}
.footergrid{
    display: grid;
    grid-template-areas: 
    'author author contactinfo contactinfo learningsources learningsources learningsources';
    margin-top:2em;
}
.footergrid > div{
    padding: 30px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1em;
    color: #627455;
}

.footerheader, .footerheader2{
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.1em;
    color: #627455;
    margin-top: 1em;
}

.author{grid-area: author;}
.contactinfo{grid-area: contactinfo;}
.learningsources{grid-area: learningsources;}
footer{background-color: #e6f0dc;}
.footer2{background-color: white;}
/*This is the end of the footer code that spans across all 10 pages*/
/*This is the start of the @media code*/
/*I actually learned this from ww3schools when I wanted to divide my grid into separate rows once the screen*/
/*had shrunk, since text wrapping was not enough*/
@media only screen and (max-width: 800px){/*This code applies when the screen is at 800px*/
    .slideshow-container img{left:0;}/*This removes the left margin in the flashcard slideshow and the learning slideshow*/
    .cardgrid-container{
        grid-template-areas:/*This separates the grid in the flashcard section to different rows*/
            'listterms'
            'slideshow-container';
        gap: 2em;/*This adjusts the gap in the cardgrid-container*/
    } 
    .tablewrap{overflow-x: auto;}/*This allows for the table to have a scroll ability*/
    .tablewrap{margin-left: 0;}/*This removes the margin-left in the tablewrap*/
}
@media only screen and (max-width: 1000px){/*This code applies when the screen is at 1000px*/
    .learning, .flashcard, .quiz{margin: 0;}/*This removes the margin of the learning, flashcard, and quiz introduction section*/
    .active, .active2, .collapsible, .collapsible2{/*This adjusts the position of the collapsibles so it wont remain absolute on the page*/
        position: static;
        width: 45%;
    }
    .content, .content2{
        position: static;
        width: 45%;
        margin-top:-0.8em;
    }
    .grid-container{/*This separates the grid into different rows so they are not crowding each other*/
        grid-template-areas:
        'first'
        'firstimg'
        'second'
        'secondimg'
        'third'
        'thirdimg';
    }  
     .footergrid{/*This separates the footer grid into different rows*/
        grid-template-areas:
            'author'
            'contactinfo'
            'learningsources';
        margin: 0px;
    }
    .grid-container > div{padding-bottom: 0;}
    .introsub{/*This removes the padding in the introsub section*/
        padding-left:0;
        padding-right:0;
    }
}
/*This is the end of the @media code*/
